@charset "UTF-8";

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color: white;
    margin: 0;
    font-family: var(--fonte1);
    text-align: center;
    padding: 70px;
    font-size: 3vw;
}

header > p {
    font-size: medium;
    font-family: var(--fonte1);
    padding-top: 20px;
}

p > a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    min-height: 100vh;
    font-weight: bold;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 50px;
    line-height: 1.5em;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

footer {
    background: black;
    color: white;
}

section#sec2 {
    background-image: url(imagens/background001.jpg);
    background-position: center right;
    color: white;
    padding: 50px;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0 black;
}

section#sec4 {
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    color: white;
    padding: 50px;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0 black;
}

p#p2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(48, 47, 47, 0.297);
    display: inline-block;
}

p#p4 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(0, 0, 0, 0.352);
    display: inline-block;
}

footer {
    font-size: large;
    text-align: center;
    padding: 10px;
}